langchain
pypdf
python-dotenv
langchain-community
langchain-openai
langchain-google-genai
neo4j
faiss-cpu
pydantic
fastapi[all]
pytest
python-json-logger
gremlinpython
python-multipart
boto3
httpx
beautifulsoup4
requests